[".config/fish/functions/fisher.fish"]
    type = "file"
    url = "https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish"
    refreshPeriod = "168h"

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}
# JetBrains Mono Nerd Font for Linux (macOS installs via brew cask)
[".local/share/fonts/JetBrainsMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/JetBrainsMono.tar.xz"
    refreshPeriod = "720h"
{{ end }}