{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
if sudo -n true 2>/dev/null; then 
    echo "sudo permissions detected, installing packages"
    curl -sS https://starship.rs/install.sh | sh
    sudo apt install tmux ack exa bat fish httpie wget rsync pinentry-tty btop
else
    echo "no sudo permissions, skipping package install"
fi
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install starship
brew install tmux ack exa bat fish httpie wget rsync pinentry-mac btop
{{ end -}}
